    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">About KidBank</h2>
                    <p>Our app is available on any mobile device! Download now to get started!</p>
                    <div class="badges">
                        <a class="badge-link" href="/"><img src="/images/newage/google-play-badge.svg" alt=""></a>
                        <a class="badge-link" href="/"><img src="/images/newage/app-store-badge.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="features" class="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="section-heading">
<br/>
<br/>
<br/>
  <%= form_for(@customer, url: sessions_path, method: 'post') do |f| %>
    <div class="field">
      <%= f.label 'Enter the mom or dad* email here:' %><br>
      <%= f.text_field :email, id: 'email', size: 50, style: 'font-size: 24px;' %>
    </div>
    <div class="field">
      <br/>
      <%= f.label 'Enter mom or dad password (to login as grownup) OR kid password (to login as that kid):' %><br>
      <%= f.text_field :password, size: 50, style: 'font-size: 24px;'  %>
    </div>
    <div class="actions">
      <br/>
      <%= f.submit value: 'Login', class: 'btn btn-success' %>
    </div>
  <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
