
        <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">List of ATMs</h2>
                    <p>Users submit these locations from our app!</p>
                </div>
            </div>
        </div>
    </section>
    <section id="features" class="features">
      <div class="container">
        <% @list.each_with_index do |item, i| %>
        <div class="row">
          <div class="col-lg-3 text-center">
            <%= i+1 %>
          </div>
          <div class="col-lg-6 text-center">
            <div class="section-heading">
            <%= item.words %>
            <a target="_blank" href="http://w3w.co/<%=item.words%>">w3w</a>
            <br/>
            <%= item.lat.to_f %>,
            <%= item.lon.to_f %>
            <a target="_blank" href="https://www.google.com/maps/@<%=item.lat.to_f%>,<%=item.lon.to_f%>,15z">map</a>
            <br/>
            <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%=item.lat.to_f%>,<%=item.lon.to_f%>&zoom=15&size=200x200&markers=color:blue%7Clabel:S%7C11211%7C11206%7C11222&sensor=true_or_false"/>
            <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%=item.lat.to_f%>,<%=item.lon.to_f%>&zoom=18&size=200x200&markers=color:blue%7Clabel:S%7C11211%7C11206%7C11222&sensor=true_or_false"/>
            <br/>
            <img src="https://kidbank.team/images/atms/<%=item.image_name%>" height="200"/>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </section>
