<%= form_for(@kid_parent) do |f| %>
  <% if @kid_parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kid_parent.errors.count, "error") %> prohibited this kid_parent from being saved:</h2>

      <ul>
      <% @kid_parent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kid_id %><br>
    <%= f.text_field :kid_id %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br>
    <%= f.text_field :parent_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
