  <table class="table">
    <tr>
      <th>Debt / Assets</th>
      <th>Bills</th>
      <th>Kid</th>
      <th>Co-Parent</th>
      <th>Observers</th>
    </tr>
  <% current_user.kids.compact.each do |k| %>
    <tr class="black">
      <td> 
        Loan @ 19.5% APY
        <br/>
        (343.11)
        <br/>
        <br/>
        <strong>Assets</strong>
        <br/> 
        Stock in KB, 200.00
        <br/> 
        Rare Painting, 900.00
        <br/>
        Cash, 40.00
      </td>
      <td> 
        Dentist 
        <br/>
        (110.00)
        <br/>
        Car Insurance 
        <br/>
        (310.00)
        <br/>
        <br/>
        <strong>Grade</strong>
        <br/> 
        <code>C+</code>
      </td>
      <td> 
        <div><%= k.name %>, <%= k.age %> <%= link_to 'x', kid_path(k), method: 'delete', data: {confirm: 'u sure?'}%>
        </div>
        <div>
          Password: <code><%=k.password%></code> <%= link_to 'login as', login_as_kid_path(k), method: 'post' %>
        </div>
        <div>
          <br/>
          Last Here: 1 day 3 hours ago
        </div>
    </td>
      <td> <a href="#" onclick="$('#set-co-form<%=k.id%>').show(); return false;"><%= k.co_parent %></a>
      
  <%= form_for(Customer.new, url: set_co_parent_kid_path(k), method: 'post', html: {id: 'set-co-form'+k.id.to_s, style: 'display: none;'}) do |f| %>
    <div class="field">
      <%= f.label 'Name (first & last)' %><br>
      <%= f.text_field :fname, id: 'fname'%>
    </div>
    <div class="field">
      <br/>
      <%= f.label 'Email' %><br>
      <%= f.text_field :email %>
    </div>
    <div class="actions white">
      <br/>
      <%= f.submit value: 'Set as Co-Parent', class: 'btn btn-info' %>
      <a href="#" style="color: white;" onclick="$('#set-co-form<%=k.id%>').hide(); return false;" class="btn btn-danger">Cancel</a>
    </div>
  <% end %>
      
      </td>
      <td> <a style="color: black; text-decoration: none;" href="#" onclick="$('#set-o-form<%=k.id%>').show(); return false;"><%= k.non_co_parent_observers.first || 'none set yet' %></a></td>
    </tr>
  <% end %>
  </table>
  <%= form_for(@kid, html: {id: 'add-kid-form', style: 'display: none;'}) do |f| %>
    <div class="field">
      <%= f.label 'First Name' %><br>
      <%= f.text_field :fname, id: 'fname'%>
    </div>
    <div class="field">
      <br/>
      <%= f.label 'Last Name' %><br>
      <%= f.text_field :lname %>
    </div>
    <div class="field">
      <br/>
      <%= f.label 'Born on' %><br>
      <%= f.date_select :dob, {start_year: 4.years.ago.year-14, end_year: 4.years.ago.year},
        style: 'font-size: 24px;' %>
    </div>
    <div class="actions">
      <br/>
      <%= f.submit value: 'Add This Kid', class: 'btn btn-info' %>
      <a href="#" onclick="$('#add-kid-form').hide()" class="btn btn-danger">Cancel</a>
    </div>
  <% end %>
<% end %>
