<div class="row">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-5" style="text-align: center; font-size: 24px;">
    <%= @next_event_seconds %> second(s) until new transactions post
  </div>
  <div class="col-lg-4" style="text-align: center; font-size: 18px;">
  </div>
</div>
<br/>
<br/>
<br/>
<div class="row">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-6" style="">
  <table class="table">
    <tr>
      <th></th>
      <th>Event</th>
      <th>Amount</th>
      <th>Type</th>
    </tr>
  <% current_user.cards.order('happened_at desc').each do |c| %>
    <tr>
      <td style="white-space: nowrap;"> 
       <%= link_to 'x', card_path(c), method: 'delete' %>
      <%= time_ago_in_words(c.happened_at) %> ago</td>
      <td style="white-space: nowrap;"> <%= c.action %></td>
      <td style="white-space: nowrap;"> 
        <% if c.amount > 0 %>
        <%= number_to_currency(c.amount, unit: 'ϟ')  %>
      <% else %>
        <span style="color: #BB0000;">
        (<%= number_to_currency(c.amount*-1, unit: 'ϟ')  %>)
        </span>
      <% end %>
      </td>
      <td>
        <%= c.flavor %>
        <br/>
       <%= link_to c.action_text, bump_level_kid_path(current_user), method: 'post' %>
    </td>
    </tr>
  <% end %>
  </table>
  </div>
  <div class="col-lg-4" style="">
    <!--
  <table class="table">
    <tr>
      <th>Account</th>
      <th>Balance</th>
      <th>Type</th>
    </tr>
  <% current_user.accounts.each do |a| %>
    <tr>
      <td> <%= link_to 'KB '+a.flavor.titleize, account_activities_path(a) %></td>
      <td> <%= link_to number_to_currency(a.balance, unit: 'ϟ'), account_activities_path(a) %></td>
      <td> <%= a.flavor %></td>
    </tr>
  <% end %>
  </table>
    -->
  </div>
</div>


