<div class="row">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-5" style="text-align: center; font-size: 24px;">
    <%= @next_event_seconds %> second(s) until new transactions post
  </div>
  <div class="col-lg-4" style="text-align: center; font-size: 18px;">
  </div>
</div>
<br/>
<br/>
<br/>
<div class="row">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-6" style="">
  <table class="table">
    <tr>
      <th></th>
      <th>Event</th>
      <th>Amount</th>
      <th>Type</th>
    </tr>
  <% current_user.cards.order('happened_at desc').limit(100).each do |c| %>
    <tr>
      <td style="white-space: nowrap;"> 
       <%= link_to 'x', card_path(c), method: 'delete' %>
      <%= time_ago_in_words(c.happened_at) %> ago</td>
      <td style="white-space: nowrap;"> <%= c.action %></td>
      <td style="white-space: nowrap;"> 
        <% if c.amount > 0 %>
        <%= number_to_currency(c.amount, unit: 'ϟ')  %>
      <% else %>
        <span style="color: #BB0000;">
        (<%= number_to_currency(c.amount*-1, unit: 'ϟ')  %>)
        </span>
      <% end %>
      </td>
      <td>
        <%= c.flavor %>
        <br/>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= c.action_text %> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <% if c.flavor == 'bill' || c.flavor == 'deal' %>
            <li> <%= link_to 'from Checking', card_path(c, source: 'c'), method: 'patch' %> </li>
            <li> <%= link_to 'from Savings', card_path(c, source: 's'), method: 'patch' %> </li>
            <li> <%= link_to 'from Loan', card_path(c, source: 'l'), method: 'patch' %> </li>
        <% elsif c.flavor == 'check' %>
            <li> <%= link_to 'to Checking', card_path(c, source: 'c'), method: 'patch' %> </li>
            <li> <%= link_to 'to Savings', card_path(c, source: 's'), method: 'patch' %> </li>
            <li> <%= link_to 'to Loan', card_path(c, source: 'l'), method: 'patch' %> </li>
         <% end %>
        </ul>
      </div>
    </td>
    </tr>
  <% end %>
  </table>
  </div>
  <div class="col-lg-4" style="">
  <table class="table">
    <tr>
      <th style="text-align: right;">Checking: </th>
      <td> <%= number_to_currency(current_user.checking, unit: 'ϟ')  %></td>
    </tr>
    <tr>
      <th style="text-align: right;">Savings: </th>
      <td> <%= number_to_currency(current_user.savings, unit: 'ϟ')  %></td>
    </tr>
    <tr>
      <th style="text-align: right;">Total Cash: </th>
      <td> <%= number_to_currency(current_user.checking+current_user.savings, unit: 'ϟ')  %></td>
    </tr>
    <tr>
      <th style="text-align: right;"></th>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th style="text-align: right;">Bills: </th>
      <td> (<%= -1*current_user.cards.where(flavor: 'bill').sum(:amount).round(2)%>)</td>
    </tr>
    <tr>
      <th style="text-align: right;">Assets: </th>
      <td>
        <% current_user.assets.each do |a| %>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= a.flavor %>, Sell for <%=link_to number_to_currency(a.value, unit: '')%> <span class="caret"> </span>
        </button>
        <ul class="dropdown-menu">
            <li> <%= link_to 'to Checking', root_path(source: 'c'), method: 'patch' %> </li>
            <li> <%= link_to 'to Savings', root_path(source: 's'), method: 'patch' %> </li>
            <li> <%= link_to 'to Loan', root_path(source: 'l'), method: 'patch' %> </li>
        </ul>
      </div>
        <br/>
        <% end%>
      </td>
    </tr>
    <tr>
      <th style="text-align: right;">Loans: </th>
      <td> (<%= number_to_currency(current_user.loan, unit: 'ϟ')  %>)</td>
    </tr>
    <tr>
      <th style="text-align: right;">Net Worth: </th>
      <td> 3.33</td>
    </tr>
  </table>
  </div>
</div>


