<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-3" style="text-align: center; font-size: 24px;">
    Welcome back <%= current_user.fname %>
  </div>
  <div class="col-lg-4" style="text-align: center; font-size: 18px;">
    There are <%= current_user.level %> days til next PayDay!
  <br/>
  Click <%= link_to 'here', bump_level_kid_path(current_user), method: 'post' %> to goto next level.
  </div>
</div>
<br/>
<br/>
<br/>
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-2">
       <strong>Loans</strong>
       <br/>
        Loan @ 19.5% APY
        <br/>
        (343.11)
        <br/>
        <br/>
        <strong>Assets</strong>
        <br/> 
        Stock in KB, 200.00
        <br/> 
        Rare Painting, 900.00
        <br/>
        Cash, 40.00
  </div>
  <div class="col-lg-3" style="">
       <strong>Bills</strong>
       <br/>
        Dentist 
        <br/>
        (110.00)
        <br/>
        Car Insurance 
        <br/>
        (310.00)
        <br/>
        <br/>
        <strong>Grade</strong>
        <br/> 
        <code>C+</code>
  </div>
  <div class="col-lg-4" style="">
  <table class="table">
    <tr>
      <th>Account</th>
      <th>Balance</th>
      <th>Type</th>
    </tr>
  <% current_user.accounts.each do |a| %>
    <tr>
      <td> <%= link_to 'KB '+a.flavor.titleize, account_activities_path(a) %></td>
      <td> <%= link_to number_to_currency(a.balance, unit: 'ϟ'), account_activities_path(a) %></td>
      <td> <%= a.flavor %></td>
    </tr>
  <% end %>
  </table>
  </div>
</div>


