<% if current_user %>

  <br/>
  <br/>
  <br/>
<% if current_user.under_13? %>
  <table class="table">
  <% current_user.accounts.each do |a| %>
    <tr>
      <td> <%= link_to a.flavor, account_activities_path(a) %></td>
      <td></td>
      <td></td>
      <td> <%= link_to number_to_currency(a.balance, :unit => "ϟ"), account_activities_path(a) %></td>
      </tr>
  <% a.last_few.each do |a| %>
      <tr>
        <td><%=a.happened_at.strftime("%a, %b %e") %></td>
        <td><%=time_ago_in_words(a.happened_at) %> ago</td>
        <td><%=a.action %></td>
        <td><%=a.amount %></td>
      </tr>
  <% end %>
      <tr>
    </tr>
  <% end %>
  </table>
<% elsif current_user.under_18? %>
  teenagers!
<% else %>
  <table class="table">
  <% current_user.kids.each do |k| %>
    <tr>
      <td> <%= k.name %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% else %>

  <br/>
  <br/>
  <br/>
  <br/>
<p>
Are you a kid age 4 through 12? Sign up here.
</p>
<p>
Are you a kid age 13 through 17? Sign up here.
</p>
<p>
Are you a grownup 18 through &infin; Sign up here.
</p>
<p>
Already have an account? <a href="/sessions/new">Login here</a>.
</p>
<% end %>
