<% if current_user %>

  <br/>
  <br/>
  <br/>
<% if current_user.under_13? %>
  <table class="table">
  <% current_user.accounts.each do |a| %>
    <tr>
      <td> <%= link_to a.flavor, account_activities_path(a) %></td>
      <td></td>
      <td></td>
      <td> <%= link_to number_to_currency(a.balance, unit: 'ϟ'), account_activities_path(a) %></td>
      </tr>
  <% a.last_few.each do |a| %>
      <tr>
        <td></td>
        <td><%=time_ago_in_words(a.happened_at) %> ago</td>
        <td><%=a.action %></td>
        <td><%=number_to_currency(a.amount, unit: '') %></td>
      </tr>
  <% end %>
      <tr>
    </tr>
  <% end %>
  </table>
<% elsif current_user.under_18? %>
  teenagers!
<% else %>
  <table class="table">
    <tr>
      <th>Kid</th>
      <th>Co-Parent</th>
      <th>Observer</th>
    </tr>
  <% current_user.kids.compact.each do |k| %>
    <tr>
      <td> <%= k.name %> <%= link_to 'x', kid_path(k), method: 'delete'%></td>
      <td> Jane Smith</td>
      <td> Jane Smith</td>
    </tr>
  <% end %>
  </table>
  <%= form_for(@kid, html: {id: 'add-kid-form', style: 'display: none;'}) do |f| %>
  <div class="field">
    <%= f.label 'First Name' %><br>
    <%= f.text_field :fname, id: 'fname'%>
  </div>
  <div class="field">
    <br/>
    <%= f.label 'Last Name' %><br>
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <br/>
    <%= f.label 'Born on' %><br>
    <%= f.date_select :dob, {start_year: 4.years.ago.year-14, end_year: 4.years.ago.year},
      style: 'font-size: 24px;' %>
  </div>
  <div class="actions">
    <br/>
    <%= f.submit value: 'Add This Kid', class: 'btn btn-info' %>
    <a href="#" onclick="$('#add-kid-form').hide()" class="btn btn-danger">Cancel</a>
  </div>
<% end %>
<% end %>

<% else %>
<br/>
<br/>
<br/>
<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-5" style="text-align: center;">
<p style="font-size: 24px;">
Are you a kid age 4 through 12?
</p>
<p style="font-size: 18px;">
Finally a bank for you! With a real ATM Card that works at any KidBank branch.
Ask your parents if it's okay for you to open a KidBank account today!
</p>

  <br/>
  <br/>
<p style="font-size: 18px;">
Already have an account? <a href="/sessions/new">Login here</a>.
</p>
  </div>
  <div class="col-lg-2" style="text-align: center;">
  </div>
  <div class="col-lg-2" style="text-align: center;">
  </div>
</div>
<br/>
<br/>
<br/>

  <br/>
  <br/>
  <br/>
  <br/>
<% end %>
