<% if current_user.under_13? %>
<div class="row edit under-13">
	<div class="col-lg-2"></div>
	<div class="col-lg-3" style="text-align: center; font-size: 24px;">
		Remember your password kid, it's <code><%= @current_user.password %></code>
	</div>
	<div class="col-lg-4" style="text-align: center; font-size: 18px;">
		Don't tell anyone your password! 
	</div>
</div>
<% else %>

<%= form_for(@customer) do |f| %>
<div class="row edit customer">
	<div class="col-lg-2"></div>
	<div class="col-lg-3 first-name">
		<div class="field">
			<%= f.label 'First Name' %>
			<%= f.text_field :fname %>
		</div>
		<div class="field">
			<%= f.label 'Last Name' %>
			<%= f.text_field :lname %>
		</div>
		<div class="actions">
			<%= f.submit value: 'Save Changes', class: 'btn btn-info' %>
		</div>
	</div>
	<div class="col-lg-4 email">
		<div class="field">
			<%= f.label "Email:" %>
			<%= f.text_field :email %>
		</div>
		<div class="field your-dob">
			<%= f.label "Your DOB not your kid's" %>
			<%= f.date_select :dob, start_year: 117.years.ago.year, end_year: 13.years.ago.year %>
		</div>
	</div>
	<div class="col-lg-2"></div>
</div>
<% end %>

<% end %>

