<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kidbank</title>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
</head>
<body>

  <br/>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <a href="/"><img src="/images/logo.png" width="110" height="61"/></a>
      </div>
      <div class="col-lg-2">
      </div>
<% if current_user %>
    <div class="col-lg-4">
      <% if current_user.under_13? %>
      <a href="" class="btn btn-danger">pay bills</a>
      <a href="" class="btn btn-info">deposit checks</a>
      <a href="" class="btn btn-success">transfers</a>
    <% elsif current_user.under_18? %>
    <% else %>
      <% unless @hide_menu %>
        <a href="#" onclick="$('#add-kid-form').show(); return false;" class="btn btn-info">add kid</a>
        <a href="#" onclick="alert('This will goto the real bank side of KidBank, but it is not ready yet.'); return false;" class="btn btn-success">real banking</a>
      <% end %>
    <% end %>
    </div>
    <div class="col-lg-3">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name %> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="/customers/<%= current_user.id %>/edit">Settings</a></li>
          <li><a href="/phones/">Phone Access</a></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to 'Log out', session_path(current_user), :method => :delete %></li>
        </ul>
      </div>
    </div>
  <% else %>
      <div class="col-lg-3">
      </div>
    <div class="col-lg-3">
      <% unless @hide_menu %>
      <a href="/kids/new" class="btn btn-info">sign up as kid</a>
      <a href="/grownups/new" class="btn btn-success">sign up as parent</a>
      <p style="margin: 10px 0 0 0;">
      Already have an account? <a style="text-decoration: underline;" href="/sessions/new">Login here</a>
      </p>
      <% end %>
    </div>
  <% end %>
  </div>
  <% if flash[:notice] %>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-5">
        <div style="font-weight: bold; padding: 10px; border: 2px solid red;"><%= flash[:notice] %></div>
      </div>
    </div>
  </div>
  <% end %>
<%= yield %>

    <div style="text-align: center;">
      <hr/>
      <a href="/">home</a>
      .
      <a href="/api">api</a>
      .
      <a href="/about">about us</a>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>

  </div>


</body>
</html>
