<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kidbank</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

  <br/>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <a href="/"><img src="/images/logo.png" width="110" height="61"/></a>
      </div>
      <div class="col-lg-2">
      </div>
<% if current_user %>
    <div class="col-lg-4">
      <% if current_user.under_13? %>
    <% elsif current_user.under_18? %>
    <% else %>
      <a href="" class="btn btn-success">admin 1</a>
      <a href="" class="btn btn-success">admin 2</a>
    <% end %>
    </div>
    <div class="col-lg-3">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name %> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="/kids/<%= current_user.id %>/edit">Settings</a></li>
          <li><a href="/phones/">Phone Access</a></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to 'Log out', session_path(current_user), :method => :delete %></li>
        </ul>
      </div>
    </div>
  <% else %>
  <% end %>
  </div>
<%= yield %>

    <div style="text-align: center;">
      <hr/>
      <a href="/">home</a>
    </div>

  </div>


</body>
</html>
