<p id="notice"><%= notice %></p>

<p>
  <strong>Kid:</strong>
  <%= @account.kid %>
</p>

<p>
  <strong>Flavor:</strong>
  <%= @account.flavor %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @account.balance %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
